// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$primary: #3e4595;
$accent: #141334;
$secondary: #4ab9b2; // $font-size-root: 20px;
//for tablet and phone 
@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}